@import './reset.css';

@font-face {
  font-family: sinteca;
  src: url(../fonts/Sinteca-Medium.otf);
}

:root{
  --slate: #7367f0;
  --french: #ff3d77;
  --orange: #ffa63d;
  --blue: #338aff;
  --aqua: #3cf0c5;
  --base: #FFFFFF;

  --text: #2f2b3d;
  --slow: #2f2b3d50;
  --hover: #2f2b3d15;
  --accent: #666666;
  --shadow: #2f2b3d40;
  --border: 6px;
}

*{
  font-family: "sinteca";
  font-weight: 400;
}

.icon{
  color: var(--accent);
  stroke:var(--accent);
  width: 1.5rem;
  height: 1.5rem;
}

::-webkit-scrollbar {
  width: 10px;
  display: none;
}