@import './reset.css';

@font-face {
  font-family: sinteca;
  src: url(../fonts/Sinteca-Medium.otf);
}

:root{
  --main: #A459D1;
  --accent: #71E1E1;
  --helper: #F266AB;
  --text: #222222;
  --background: #f4f7ff;
  --shadow: #929fa788;
  --gray: #929fa7;
  --white: #FFFFFF;
  --invert: #000000;
}

*{
  font-family: "sinteca";
  font-weight: 400;
}

.icon{
  width: 1.2rem;
  height: 1.2rem;
  display: block;
}