@import './reset.css';

@font-face {
  font-family: sinteca;
  src: url(../fonts/Sinteca-Medium.otf);
}

:root{
  --main: #A459D1;
  --accent: #71E1E1;
  --helper: #F266AB;
  --text: #222222; 
  --background: #EEEEEE;
  --gray: #919191;
  --white: #FFFFFF;
  --invert: #0000000;
}

*{
  font-family: "sinteca";
  font-weight: 400;
}